@if (displayConfirmations) {
    <div class="modal-backdrop show"></div>
    <div class="modal" tabindex="-1" role="dialog"
         id="exampleModal" aria-labelledby="exampleModal"
         aria-hidden="true" style="display:block">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @ChildContent
                </div>
                <div class="modal-footer">
                    <button @onclick="onCancel" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button @onclick="onConfirm" type="button" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public string Title { get; set; } = "Confirm";
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public EventCallback onConfirm { get; set; }
    [Parameter] public EventCallback onCancel { get; set; }

    private bool displayConfirmations = false;
    public void Show() => displayConfirmations = true;
    public void Hide() => displayConfirmations = false;
}
