@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        <CascadingValue Value="mystyle">
            @Body
        </CascadingValue>
    </div>
</div>

@code{
    StyleClass mystyle = new StyleClass();

    public class StyleClass {
        public string Color { get; set; } = "green";
        public string Size { get; set; } = "12px";
    }
}