@page "/counter"
@inject SingletonServices singleton
@inject TransientServices transient

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<p>Singleton count: @singleton.Value</p>
<p>Transient count: @transient.Value</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<input type="number" @bind="currentCount" />
<MoviesList Movies="movies" />

@code {

    List<Movie> movies;
    protected override void OnInitialized() {        
        movies = new List<Movie>() {
            new Movie(){Title = "Spider-Man: Far From Home", ReleaseDate = new DateTime(2019, 7, 2)},
            new Movie(){Title = "Moana", ReleaseDate = new DateTime(2016, 11, 23)},
            new Movie(){Title = "Inception", ReleaseDate = new DateTime(2010, 7, 16)}
        };
    }
    private int currentCount = 0;

    private void IncrementCount() {
        currentCount++;
        transient.Value = currentCount;
        singleton.Value = currentCount;
    }
}
