@page "/"

<div>
    <h3>Movie</h3>
    <MoviesList Movies="movies" />
</div>

@code{
    List<Movie> movies = new List<Movie>();
    protected async override Task OnInitializedAsync() {
        await Task.Delay(2000);
        movies = new List<Movie>() {
            new Movie(){Title = "Spider-Man: Far From Home", ReleaseDate = new DateTime(2019, 7, 2)},
            new Movie(){Title = "Moana", ReleaseDate = new DateTime(2016, 11, 23)},
            new Movie(){Title = "Inception", ReleaseDate = new DateTime(2010, 7, 16)}
        };
    }
}