@page "/"
@inject SingletonServices singleton
@inject IRepository repository

<p>Singleton count: @singleton.Value</p>
<div>
    <h3>Movie</h3>
    <MoviesList Movies="movies" />
</div>

@code{
    List<Movie> movies = new List<Movie>();
    protected async override Task OnInitializedAsync() {
        await Task.Delay(2000);
        movies = repository.GetMovies();
    }
}