@page "/genre/create"

<h3>Create Genre</h3>

<GenreForm Genre="genre" OnValidSubmit="Create" />

@code {
    private Genre genre = new Genre();
    public void Create() {
        Console.WriteLine("Method Create");
        Console.WriteLine(genre.Name);
    }
}
